.box-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ant-form-item {
  margin: 0 !important;
  align-self: center;
  width: 100%;
}

.ant-form-item-label {
  min-width: 80px;
  flex-grow: 1;
  
  label {
    color: #f0f0f0 !important;
    font-size: 18px !important;
    font-weight: 600;
  }
}

.ant-form-item-control {
  flex-grow: 2;
}

.ant-input-number {
  flex-grow: 1;
  width: inherit;
}

.ant-form-item-control-input-content {
  width: 100% !important;
  display: flex;
  justify-content: center;
}

.ant-input-number:focus {
  border-color: #40a9ff;
}

.canvas {
  background: #113B51;
}
